:root {
    --c-main-color: #eaf0f8;
    --c-main-light: #f5f9fd;
    --c-main-dark: #d8e3f0;
    --c-accent: #3b82f6;
    --c-text: #2e2e2e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-y: auto;
}

body {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

button {
    color: inherit;
    cursor: pointer;
    border: none;
    background: transparent;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    border-radius: 5px;
    padding: 8px 16px;
    background: var(--c-accent);
    color: white;
}

.btn:hover {
    background: var(--c-main-light);
    color: var(--c-accent);
}

.disabled {
    display: none !important;
}

#page {
    background: var(--c-main-light);
    color: var(--c-text);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "sidebar content";
    min-height: 100vh;
    overflow-x: clip;
}

.header {
    grid-area: header;
    background: var(--c-main-dark);
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(139, 115, 85, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.header-menu nav {
    display: flex;
    gap: 20px;
}

.header-menu .btn {
    font-weight: 500;
}

.title {
    font-size: 2.4rem;
    font-weight: 600;
}

#sidebar {
    grid-area: sidebar;
    background: var(--c-main-color);
    border-right: 1px solid var(--c-main-dark);
}

.sidebar-menu nav {
    padding: 20px;
}

.sidebar-menu nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-menu nav ul li {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-menu nav ul li:hover,
.sidebar-menu nav ul li.active {
    background: var(--c-main-dark);
}

.remove-btn {
    margin-left: auto;
    font-size: 1.8rem;
}

#content {
    grid-area: content;
    padding: 20px;
    max-width: 768px;
    overflow-x: hidden;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 24px;
    background: white;
    box-shadow: 0 5px 5px rgba(139, 115, 85, 0.1);
}

.todo-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-list li .todo-details {
    display: flex;
    gap: 10px;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
}

.details {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
}

.details .name,
.details .description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.details .name {
    font-size: 1.6rem;
    font-weight: 500;
}

.details .description {
    color: gray;
    font-size: 1.4rem;
    font-weight: 300;
}

.todo-status {
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.4rem;
}

.status .date {
    font-weight: 500;
}

.priority-label {
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.priority-label.high {
    background: #fecaca;
    color: #991b1b;
}

.priority-label.medium {
    background: #fef08a;
    color: #a16207;
}

.priority-label.low {
    background: #bbf7d0;
    color: #155724;
}

.todo-list li .buttons {
    display: flex;
    gap: 10px;
}

.todo-list li .buttons button:hover {
    opacity: 0.75;
}

.todo-list li iconify-icon {
    font-size: 24px;
}

.todo-list li input[type="checkbox"] {
    height: 16px;
    width: 16px;
    accent-color: var(--c-accent);
    flex-shrink: 0;
}

.todo-list li input[type="checkbox"]:checked + .details .name {
    text-decoration: line-through;
    opacity: 0.5;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;

    padding: 20px;
    border-radius: 24px;
    background: var(--c-main-color);
    color: var(--c-text);
    box-shadow: 0 0 0 100vh rgba(74, 55, 40, 0.3);
}

.modal-content {
    max-width: 45ch;
    max-height: 80vh;
    /* overflow-wrap: break-word; */
    overflow-x: hidden;
}

.modal form,
.modal div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal input,
.modal textarea {
    padding: 5px 10px;
    border-radius: 10px;
    background: var(--c-main-light);
    color: var(--c-text);
    border: 1px solid var(--c-main-dark);
}

.modal input[type="text"],
.modal input[type="date"] {
    height: 35px;
}

.modal textarea {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    resize: vertical;
}

.modal .priority {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modal input:focus,
.modal textarea:focus {
    outline: none;
    border: 1px solid var(--c-accent);
}

.modal button {
    padding: 5px 10px;
    border: 1px solid var(--c-accent);
    color: var(--c-accent);
    border-radius: 10px;
    font-weight: 500;
}

.modal button:hover {
    border: 1px solid var(--c-accent);
    background: var(--c-accent);
    color: white;
}

.todo-details-modal .description {
    display: flex;
    flex-direction: column;
}

.todo-details-modal p,
.todo-details-modal .priority-label {
    font-weight: bold;
}

.todo-details-modal span {
    font-weight: 300;
}

.modal .close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    font-size: 1.8rem;
}

.sidebar-toggle {
    display: none;
}

@media (max-width: 768px) {
    #page {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "content";
    }

    .header-container {
        flex-direction: column;
        gap: 15px;
    }

    #sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100vh;
        transition: left 0.3s ease;
        z-index: 1;
        overflow-y: auto;
    }

    #sidebar.active {
        left: 0;
    }

    .sidebar-toggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 2;
        background: var(--c-accent);
        color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .sidebar-menu {
        margin-top: 75px;
    }

    #content {
        padding: 10px;
    }

    .todo-list {
        max-width: 95vw;
        margin: 0 auto;
    }

    .todo-list li {
        flex-wrap: wrap;
        gap: 0;
    }

    .todo-list li input[type="checkbox"] {
        height: 20px;
        width: 20px;
    }

    .todo-list li .todo-status {
        margin-left: auto;
        width: 100%;
        justify-content: space-between;
    }

    .todo-list li .status {
        flex-direction: row;
        gap: 10px;
        padding-left: 30px;
    }

    .modal {
        max-width: 90%;
    }
}

@media (min-width: 769px) {
    #sidebar {
        position: sticky;
        top: 0;
        max-height: 100vh;
        overflow-y: auto;
    }

    .sidebar-toggle {
        display: none;
    }
}